<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>  
  <link rel="stylesheet" href="/stylesheets/style.css">  
  <meta name="description" content="360&deg; Image - A-Frame">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
  <div class="" id="root">Loading... React App</div>
</body>
<script  src="/javascripts/build.js">
</script>

</html>